.searchTitle {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    color: #f4f3ee  ;
}

.song__thumbnail {
    cursor: pointer
}

.song {
    display: flex;
}

.song__thumbnail {
    border-radius: 5px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.searchContainer {
    width: 650px;
    margin: 20px auto;
}