footer {
    position:sticky;
    bottom: 0
}

.searchTitle {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

.song__thumbnail {
    cursor: pointer
}

.song {
    display: flex;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

