.playlistTitle {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    color: #f4f3ee;
}

.playlistNameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlistNameInput {
    width: 650px;
    margin: auto;
}

.playlistSongCount {
    text-align: center;
}

.optionsButton {
    height: 30px;
    padding: 10px;
}

.optionsContainer {
    display: flex;
    align-items: center;
}