.playlists__title {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

.playlist {
    display: flex;
}

.playlist__link {
    color: #ffffff
}

.playlist__link:hover {
    color: #bcb8b1
}

.optionsImg {
    height: 20px;
    width: 20px;
}

.optionsButton {
    padding: 1px 0;
    margin: 10px;
    color: black !important;
    border: 0 !important;
}

.newPlaylistButton {
    padding: 5px 10px;
    margin: 10px;
    color: black !important;
    border: 0 !important;
    font-size: 25px !important;
}

.modal-content {
    background-color: #8a817c;
}

.playlistName {
    padding: 10px;
}