.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

li {
    list-style-type: none;
}

.nav-link {
    color: #f4f3ee;
    font-size: 20px;
}
  
.nav-link:hover {
    color: #e0afa0
}

.logoImg {
    height: 100px;
    width: 100px;
}
